<template>
  <core-layout>
    <div class="wrapper">A simple todo app implemented with vue.js</div>
  </core-layout>
</template>

<script>
  import CoreLayout from '@/layouts/Core';

  export default {
    name: 'about-index',

    components: {
      CoreLayout,
    },
  };
</script>

<style scoped>
  .wrapper {
    margin-top: 30px;
  }
</style>

