<template>
  <transition name="fade-in">
    <div class="wrapper">
      Your task list looks empty
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'task-empty',
  };
</script>

<style scoped>
  .wrapper {
     margin: 80px 0;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
    color: #e0e0e0;
  }
  /* transitions */
  .fade-in-enter-active {
    transition: all .8s ease;
    transition-delay: .5s;
  }

  .fade-in-enter {
    opacity: 0;
  }
  /* transitions end */
</style>

