<template>
  <b-form @submit="add" class="wrapper">
    <b-input-group>
      <b-form-input
        v-model="newTask.title"
        type="text"
        placeholder="Enter your task">
      </b-form-input>
      <b-input-group-button>
        <b-button
          class="submit-button"
          type="submit"
          variant="primary"
        >
          Add
        </b-button>
      </b-input-group-button>
    </b-input-group>
  </b-form>
</template>

<script>
  export default {
    name: 'task-creator',

    data() {
      return {
        newTask: {
          title: '',
        },
      };
    },

     methods: {
      add(e) {
        e.preventDefault();
        if (!this.$data.newTask.title) return;
        const task = { ...this.$data.newTask };
        this.$store.dispatch('tasks/add', task);
        this.$data.newTask.title = '';
      },
    },
  };
</script>

<style scoped>
  .wrapper {
    margin: 30px 0;
  }
</style>

