<template>
  <core-layout>
    <task-creator />
    <div>
      <task-item v-for="taskId in taskList" :key="taskId" :taskId="taskId" />
    </div>
    <task-empty v-if="hasNoTask" />
  </core-layout>
</template>

<script>
  import { mapGetters } from 'vuex';
  import CoreLayout from '@/layouts/Core';
  import TaskCreator from '@/components/TaskCreator';
  import TaskItem from '@/components/TaskItem';
  import TaskEmpty from '@/components/TaskEmpty';

  export default {
    name: 'task-index',

    computed: mapGetters({
      taskList: 'tasks/taskList',
      hasNoTask: 'tasks/hasNoTask',
    }),

    mounted: function() {
      this.$store.dispatch('tasks/all');
    },

    components: {
      CoreLayout,
      TaskCreator,
      TaskItem,
      TaskEmpty,
    },
  };
</script>
